/*
    note:
    take care here since the Sunburst Theme uses IE8.js -
    ie hacks like: div {height:0.1%}
    will actually result in height 0.1% of that element
    https://dev.plone.org/plone/ticket/10417
*/

/* fix shift on content views list under ie6 */
*html ul#content-views{
    margin: -2px -3px 0px -3px;
}

/* removes extra space above logo */
#portal-logo {
    margin-top: 0;
}

/* ensures hidden elements don't take up space */
.hiddenStructure {
    position: absolute;
}

/* IE8: keeps livesearch from falling behind content area,
   and display menu from falling behind footer
   Keeping float for IE7, so the portlets don't fall */
div.cell {
    float: none;
    *float: left;
}

/* Theme Fixes */
input.loginFormName,
input.loginFormEmail,
input.loginFormPassword {
  height:17px;
  width:84px;
  }
ul#portal-languageselector li {
  display:inline;
  margin-left:14px;
  zoom:1;
  }
.userPreferencesHeader,
div.carousel-text,
.headerTimeViewletShort {
  zoom:1;
  }
.userPreferencesBody {
  left:0;
  top:100%;
  }
#portal-searchbox input.searchButton {
  height:27px;
  }
a.carousel-pager-button-prev span,
a.carousel-pager-button-next span {
  cursor:pointer;  
  }
#breadcrumbs-you-are-here {
  z-index:expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('beforeEnd', '<span class="yah-icon"></span>'));
  }
.yah-icon {
  background:url(bc.gif) no-repeat 100% 0;
  content:"";
  display:block;
  height:20px;
  position:absolute;
  right:-10px;
  top:0;
  width:10px; 
  }