/* - member.css - */

/* workflow state colors */

.state-private {
	color: Red !important;
}
.state-visible {
	color: #74AE0B !important;
}
.state-published {
	color:#748fa2 !important;
  }
.state-pending {
	color: #FFA500 !important;
}
.state-expired {
	color: Red !important;
}
.syndicated {
	color: #008000 !important;
}

/* Pulldown menu state indicators */

#plone-contentmenu-workflow .state-private {
	background-color: #b91900;
	border: none;
	color: White !important;
	font-size: 0.9em;
	padding: 0.1em 0.5em;
}
#plone-contentmenu-workflow .state-visible {
	background-color: #74AE0B;
	border: none;
	color: White !important;
	font-size: 0.9em;
	padding: 0.1em 0.5em;
}
#plone-contentmenu-workflow .state-published {
	background-color: #436976;
	border: none;
	color: White !important;
	font-size: 0.9em;
	padding: 0.1em 0.5em;
}
#plone-contentmenu-workflow .state-pending {
	background-color: #FFA500;
	border: none;
	color: White !important;
	font-size: 0.9em;
	padding: 0.1em 0.5em;
}
